@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    /**/

    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Ajax.BeginForm("ForgotPassword", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "ForgotPassword", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input id="txtUname" class="form-control" placeholder="Username"
                       name="username" type="text" value="" autofocus required>
            </div>
            <div class="form-group">
                <input id="txtEmail" class="form-control" placeholder="Email Merchant"
                       name="email" type="email" required>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <div class="form-group">
                <div class="right" style="width:150px">
                    <button type="submit" class="btn  btn-success btn-block">Get-Link</button>
                </div>
            </div>
        }
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $("#ForgotPassword").submit(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var action = '/Login/SendForgotPassword';
            var dataJson = $(this).serialize();
            $.ajax({
                type: "POST",
                url: action,
                data: dataJson,
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        alert(result.message);
                        var newURL = window.location.protocol + "//" + window.location.host + "/" + "Home/Index";
                        window.location.href = newURL;
                    } else {
                        alert(result.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("Error Fail!");
                }
            });
        }); //end .submit()
    });

</script>