@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    ViewBag.Title = "RestPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>ResetPassword</h2>
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input name="password" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input name="confirmPassword" type="text" class="form-control" />
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rest Password</button>
        </div>
    </div>
   

}

